@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

// Font Family
$theme-text-font: "Barlow Semi Condensed", sans-serif;

// Primary
$theme-background-color:  hsl(210, 46%, 95%);
$theme-background-color-alt: hsl(0, 0%, 81%);
$theme-white-color: hsl(0, 0%, 100%);
$theme-violet-color: hsl(263, 55%, 52%);
$theme-grayish-blue-color: hsl(217, 19%, 35%);
$theme-blackish-blue-color-alt: hsl(219, 29%, 14%);

// Font Size
$theme-line-height: 1rem;

// Transition
$theme-transition: all 0.2s ease-in-out;

// Breakpoints
$screen-sm: 36em; // Large smartphones
$screen-md: 48em; // Small tablets
$screen-lg: 62em; // Tablets
$screen-xl: 75em; // Desktops
$screen-xxl: 90em; // Large desktops
$screen-rwd: 66.25em; // Custom device

// Border shadow
$theme-box-shadow: 0 0.063rem 0.188rem rgba($theme-blackish-blue-color-alt, 0.12),
    0 0.063rem 0.125rem rgba($theme-blackish-blue-color-alt, 0.24);
$theme-box-shadow-hover: 0 0.875rem 1.75rem rgba($theme-blackish-blue-color-alt, 0.25), 
    0 0.625rem 0.625rem rgba($theme-blackish-blue-color-alt, 0.22);